{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="card p-5">
        <div class="card-header d-flex justify-content-between align-items-center row p-0">
            <div class="profile-info text-center row align-items-center">
                <div class="col-sm">
                    <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle" width="150" height="150">
                    <h2 id="profile-name" class="mt-3">{{ user.username }}</h2>
                </div>
                <div class="col-sm pro-hide">
                    <h4 id="profile-first-name">{% if user.first_name %}{{ user.first_name }} {% else %} Anonymous {% endif %} {% if user.last_name %} {{ user.last_name }} {% else %} N/A {% endif %}</h4>
                    <p id="profile-email">{{ user.email }}</p>
                    <p id="profile-bio">{% if user.bio %}{{ user.bio }}{% else %} No bio available {% endif %}</p>
                </div>
                <div class="col-sm pro-hide">
                    <button class="btn btn-primary" id="edit-profile-btn">
                        <i class="bi bi-edit"></i> Edit Profile
                    </button>
                </div>
            </div>

        </div>
        <div class="card-body p-0">
            <form class="profile-form" id="profile-form" method="POST" enctype="multipart/form-data" style="display: none;">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ user_form.username.label_tag }}
                        {{ user_form.username }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ user_form.email.label_tag }}
                        {{ user_form.email }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    {{ profile_form.profile_picture.label_tag }}
                    {{ profile_form.profile_picture }}
                </div>
                <div class="form-group">
                    {{ profile_form.bio.label_tag }}
                    {{ profile_form.bio }}
                </div>
                <button type="submit" class="btn btn-success">Update Profile</button>
                <button type="button" class="btn btn-secondary" id="cancel-edit-btn">Cancel</button>
            </form>
        </div>
    </div>
</div>


<script>
    document.getElementById('edit-profile-btn').addEventListener('click', function() {
        const form = document.getElementById('profile-form');
        form.style.display = 'block';
        document.getElementsByClassName('pro-hide')[0].style.display = 'none';
        document.getElementsByClassName('pro-hide')[1].style.display = 'none';
    });

    document.getElementById('cancel-edit-btn').addEventListener('click', function() {
        const form = document.getElementById('profile-form');
        form.style.display = 'none';
        document.getElementsByClassName('pro-hide')[0].style.display = 'flex';
        document.getElementsByClassName('pro-hide')[1].style.display = 'flex';
    });
</script>
{% endblock %}