<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Market Prediction</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/template.css' %}" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                        <div class="card-body">
                            <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                            <img src="{% static 'images/logo.png' %}" width="180" alt="">
                            </a>
                            <p class="text-center">Smart Moves for Smarter Investments!</p>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.non_field_errors }}  <!-- Display non-field errors -->
                                {% for field in form %}
                                    <div class="form-group mb-3">
                                    {{ field.label_tag }}
                                    <div class="col-sm-12">
                                        {{ field }} 
                                        {{ field.errors }}
                                    </div>
                                    </div>
                                {% endfor %}
                            
                            <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Sign Up</button>
                            <div class="d-flex align-items-center justify-content-center">
                                <p class="fs-4 mb-0 fw-bold">Already have an Account?</p>
                                <a class="text-primary fw-bold ms-2" href="{% url 'login' %}">Sign In</a>
                              </div>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest compiled JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Latest compiled Jquery -->
    <script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
</body>

</html>
