aiohttp
alembic
anyio
argon2-cffi
arrow
asgiref
beautifulsoup4
bcrypt
bleach
cffi
click
cryptography
Django
flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
google-api-core
google-auth
google-api-python-client
grpcio
gTTS
httpx
ipykernel
ipython
itsdangerous
Jinja2
joblib
jsonschema
jupyterlab
kiwisolver
lxml
matplotlib
mysql-connector-python
nbconvert
nbformat
numpy
openai
openpyxl
pandas
pdfminer.six
pdfplumber
phonenumbers
protobuf
psutil
pydantic
Pygments
python-dateutil
PyYAML
requests
scikit-learn
scipy
seaborn
selenium
SQLAlchemy
tqdm
virtualenv
watchdog
weasyprint
Werkzeug
WTForms
yfinance
