{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h3 class="mb-4">Set New Password</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="new_password1">New Password:</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                        <div class="invalid-feedback">
                            Please provide a new password.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new_password2">Confirm New Password:</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                        <div class="invalid-feedback">
                            Please confirm your new password.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Set New Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}