<!doctype html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reset Password</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" href="{% static 'css/template.css' %}" />
    </head>
    <body>
        <div class="container mt-5">
            <div class="row d-flex align-items-stretch">
                <div class="card w-100">
                    <div class="card-body p-4">
                        <h3 class="mb-4">Reset Password</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                                <div class="invalid-feedback">
                                    Please provide a valid email address.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>