<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Prediction</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    
    <!-- Latest Icon CSS -->
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% comment %} <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-icons.css' %}"> {% endcomment %}

    {% comment %} Template css Loading {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/template.css' %}" />

    {% comment %} Own CSS File {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
        <!--  Sidebar Start -->
        {% include 'sidebar.html' %}
        <!--  Sidebar End -->

        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            {% include 'header.html' %}
            <!--  Header End -->
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Latest compiled Jquery -->
    <script src="{% static 'bootstrap/js/jquery-3.2.1.slim.min.js' %}"></script>
    
    <script src="{% static 'js/sidebarmenu.js' %}"></script>
    <script src="{% static 'js/app.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>

</body>
</html>
